@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* limits the text to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
